body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f0f0f5;
    color: #333;
}

.wrapup-footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.social-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-color: white;
}

.social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #ff4500; /* Change this color as you wish */
}

.company-info {
    margin-top: 10px;
    font-size: 14px;
}

.contact-info {
    margin-top: 10px;
    font-size: 14px;
}

